*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'EB Garamond', serif;
}

:root{
    --primary-color: #6366F1;
    --secondary-color: #4F46E5;
    --odd-color:#ddd6fe6c;
    --txt-color: #374151;
}

/* NAVIGATION */
#logo{
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    margin-top: 8px;
}

#logo a{
    text-decoration: none;
    color: var(--primary-color);
}

nav{
    display: flex;
    flex-direction: column;
    height: 17vh;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    box-shadow: 1px 1px 2px black;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 15px;
}

nav li a{
    text-decoration: none;
    padding: 5px 20px;
    font-size: 1.3rem;
    color: var(--txt-color);
    font-family: 'EB Garamond', serif;
    margin-right: 20px;
    border-radius: 5px;
    letter-spacing: 1.3px;
}

nav li a:hover{
    background-color: var(--primary-color);
    color: white;
}

.item-active{
    background-color: var(--primary-color);
    color: white;
}

/* NAVIGATION END  */

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-img{
    width: 600px;
    max-width: 95%;
    margin: 80px auto;
    padding-right: 20px;
}

header h1{
    font-size: 3.4rem;
    margin-top: -100px;
    color: var(--primary-color);
}

header small{
    font-size: 1.1rem;
    padding-left: 30PX;
    position: relative;
    top: 10px;
    color: var(--txt-color);
    font-weight: bold;
}
/* HEADER END */

section{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.odd{
    background-color: var(--odd-color);
}
.section-container{
    text-align: center;
    height: 20vh;
}

section p{
    text-align: center;
    padding: 10px 0px;
    font-size: 1.2rem;
}
.next-heading{
    font-size: 2rem;
}

.primary-link{
  text-decoration: none;
   font-size: 1.2rem;
   background-color: var(--secondary-color);
   color: white;
   padding: 5px 20px;
   border-radius: 10px;
}   

.secondary-link{
   text-decoration: none;
   font-size: 1.2rem;
   background-color: white;
   color: var(--secondary-color);
   border: 3px solid --secondary-color;
   padding: 5px 20px;
   border-radius: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

footer p{
    font-size: 1.3rem;
    padding: 20px 5px;
}