*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'EB Garamond', serif;
}

:root{
    --primary-color: #6366F1;
    --secondary-color: #4F46E5;
    --txt-color: #374151;
}

/* NAVIGATION */
#logo{
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    margin-top: 8px;
}

#logo a{
    text-decoration: none;
    color: var(--primary-color);
}

nav{
    display: flex;
    flex-direction: column;
    height: 17vh;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    box-shadow: 1px 1px 2px black;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 15px;
}

nav li a{
    text-decoration: none;
    padding: 5px 20px;
    font-size: 1.3rem;
    color: var(--txt-color);
    font-family: 'EB Garamond', serif;
    margin-right: 20px;
    border-radius: 5px;
    letter-spacing: 1.3px;
}

nav li a:hover{
    background-color: var(--primary-color);
    color: white;
}
/* NAVIGATION END  */

/* HEADER */
header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-img{
    width: 650px;
    max-width: 90%;
    margin: 80px 50px;
    padding-right: 50px;
}

header h1{
    font-size: 3.9rem;
    margin-top: -150px;
    color: var(--primary-color);
}

header small{
    font-size: 1.2rem;
    padding-left: 30PX;
    position: relative;
    top: 10px;
    color: var(--txt-color);
    font-weight: bold;
}
/* HEADER END */


